services:
    app:
        image: webdevops/php-nginx-dev:8.4
        restart: on-failure
        environment:
            WEB_DOCUMENT_ROOT: /app/public
            WEB_DOCUMENT_INDEX: index.php
            PHP_DISMOD: ioncube
        ports:
            -   target: 80
                published: 8010
        volumes:
            - ./app:/app
        working_dir: /app
        depends_on:
            database:
                condition: service_healthy

    database:
        image: mysql:8.0.44
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: symfony_app
            MYSQL_USER: user
            MYSQL_PASSWORD: pass
        ports:
            - "3307:3306"
        volumes:
            - db-data:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 5s
            timeout: 3s
            retries: 10

volumes:
    db-data:
